*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:"Open Sans";
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    background-color: white;
}

.nav-btn>button{
    background-color: white;
    color: hsl(322, 100%, 66%);
    border-radius: 50px;
    outline: none;
    border:1px solid hsl(322, 100%, 66%);
    padding: 5px 20px;

}
    .nav-btn>button:hover{
    background-color: white;
    color:hsl(321, 100%, 78%);
    border:1px solid hsl(321, 100%, 78%);
    cursor: pointer;
}
    .nav-logo{
        width: 120px;
        height: 120px;
}
.nav-logo>img{
    width:100%;
}
.content-container, .footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:10px;
}
.content-container>h1, .footer-container>h4{
    font-size: 40px;
    font-weight: 900;
  
    
}
.content-container>p{
    width:400px;
    font-size:15px;
    text-align: center;
    line-height: 1.5;
    padding:30px;

}
.content-container>button, .footer-container>button{
    color: white;
    background-color: hsl(322, 100%, 66%);
    border-radius: 50px;
    outline: none;
    border:1px solid hsl(322, 100%, 66%);
    padding: 15px 35px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.content-container>button:hover, .footer-container>button:hover{
    color: white;
    background-color:hsl(321, 100%, 78%);
    border:1px solid hsl(321, 100%, 78%);
    cursor: pointer;
}

.front-image{
    margin: 90px 0;
    width: 600px;
    height: 400px;
}
.front-image>img{
    width: 100%;
}

.community-messages{
    display: flex;
    justify-content: space-between;
    margin: 7% 31%;
    
}
.community-messages>.community>img, .community-messages>.messages>img{
    width: 30px;
}
.community-messages>.community>p, .community-messages>.messages>p{
    margin:8px;
    color: rgba(0, 0, 0, 0.562);
}
.community-messages>.community>h1, .community-messages>.messages>h1{
    font-weight: 900;
    font-size: 50px;
}
.grow-page, .users-page{
    position: relative;
}
.grow-page-items, .users-page-items{
 
    background-color: #f6fbff;
    display: flex;
    justify-content: space-around;
}
.grow-top-wave{
    position: relative;
    top: 10px;
    left: 0;
}

.grow-page-items>img, .users-page-items>img{
    width: 100%;
}
.grow-text, .users-text{

    padding: 80px;
    align-items: center;
    flex: 0.5;
    margin: 80px 0 0 80px;
}

.grow-image, .user-image{
    flex: 0.5;
    
}

.grow-image>div, .users-image>div{
    width: 400px;
    height: 400px;
    margin: 80px 80px 0 0;
}
.grow-image>div>img, .users-image>div>img{
    width: 100%;
}

.grow-text>div>h4, .users-text>div>h4{
    padding: 10px 0;
    font-size: 40px;
    font-weight: 900;
    line-height: 2; 
}

.grow-text>div>p, .users-text>div>p{
    font-size: 15px;
}

.Flowing-conversations{
    display: flex;
    justify-content: space-between;

}
.flow-image>img{
width: 100%;
}
.flow-image>div>img{
    width: 400px;
    height: 300px;
    
}
.flow-image{
    flex: 0.5;
    margin: 80px 0 0 150px;

}

.flow-text{
    padding: 80px;
    /* align-items: center; */
    flex: 0.5;
    margin: 80px 0 0 80px;
}
.flow-text>h4{
    padding: 10px 0;
    font-size: 40px;
    font-weight: 900;
    line-height: 2;

}
.flow-text>p{
    font-size: 15px;
}




@media (max-width:768px) {

    .navbar-container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;

    }
    .content-container, .footer-container{
        margin:2px;
    }
    .content-container>h1, .footer-container>h4{
        font-size: 23px;
        text-align: center;
        padding: 10px;
    }
    .content-container>button, .footer-container>button{
       margin: 10px;
       padding: 10px 30px ;
    }
    .navbar-container>p{
        font-size: 13px;
        padding: 10px;
    }
    .front-image{
        width: 300px;
        height: 200px; 
    }
    .community-messages{
        flex-direction: column;
        }
    .community{
        padding: 50px 0;
    }
    .grow-page-items, .users-page-items{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column-reverse;
    }

    .grow-image>div, .users-image>div{
        width: 250px;
        height: 250px;
        margin: 30px;
    }
    .grow-text, .users-text{
      
        padding: 20px;
        margin: 0 20px;
        text-align: center;
    }
    
    .grow-text>div>h4, .users-text>div>h4{
        font-size: 25px;
    }
    .Flowing-conversations{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    .flow-image>div>img{
        width: 250px;
        height: 200px;
        margin-right: 150px;
    }
    .flow-text{
      
        padding: 20px;
        margin: 40px 0 0 20px;
        text-align: center;
    }
    
    .flow-text>h4{
        font-size: 25px;
    }

}
